[submodule "libs/frugally-deep"]
	path = libs/frugally-deep
	url = https://github.com/Dobiasd/frugally-deep
[submodule "libs/FunctionalPlus"]
	path = libs/FunctionalPlus
	url = https://github.com/Dobiasd/FunctionalPlus
